:root {
    --orange: #f1a536;
    --gray: #dadfea;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
}

/* NAVIGATION BAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--orange);
    padding: 0 80px;
}

.hlink {
    margin-left: 20px;
}
/* NAVIGATION BAR */

/* SETTING FONTS */
body {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bannerimg {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
}

p {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.navbar, .footer {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

figcaption {
    font-size: 18px;
}
/* SETTING FONTS */

/* BANNER */
.bannerimg {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 2px 0;
}

.bimg {
    object-fit: cover;
    width: 100%;
    height: 650px;
    object-position: 100% 0%;
}

.bcap {
    position: absolute;
    left: 25%;
    bottom: 150px;
    background-color: white;
    padding: 15px;
    font-size: 50px;
}
/* BANNER */

.blog {
    width: 100%;
}

.everyday, .healthy, .where {
    padding: 20px 10%;
}

/* EVERYDAY CATEGORIES */
.everydayimgs {
    display: flex;
    width: 100%;
    text-align: center;
}

.edimg {
    width: 100%;
    object-fit: cover;
    height: 250px;
}
/* EVERYDAY CATEGORIES */

/* HEALTHY RECIPES */
.healthy {
    background-color: var(--gray);
}

.healthyimgs {
    display: flex;
    text-align: center;
}

.hlimg {
    width: 100%;
    margin: 0;
}

.hlfig {
    background-color: white;
    margin: 0;
    position: relative;
    bottom: 5px;
    padding: 5px 2px;
}
/* HEALTHY RECIPES */

/* WHERE TO EAT */
.whereimgs {
    display: flex;
    text-align: center;
}

.wimg {
    width: 100%;
    background-color: var(--gray);
    padding: 3px;
}
/* WHERE TO EAT */

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--orange);
    padding: 40px 80px;
}

.flink {
    margin-left: 20px;
}
/* FOOTER */
